body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(238, 241, 25, 0.705), rgba(8, 124, 233, 0.705));
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.home,
p,
h3 {
  padding: 0 20px;
  font-size: 20px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.practice {
  padding: 0 35px;
}

@media screen and (max-width: 700px) {
  section {
    display: flex;
    flex-direction: column;
  }
}

.quote p {
  padding: 0 30px;
  font-size: 20px;
}

.navbar,
h1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
}

ul {
  display: inline-flex;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
}

ul a {
  text-decoration: none;
  color: inherit;
}

li {
  border-right: 2px solid black;
  padding: 10px;
  height: 50%;
}

.container {
  background-color: silver;
  box-shadow: 5px 10px 8px #888;
}

.tag {
  background-color: silver;
  color: #fff;
  font-size: 20px;
  pointer-events: none;
}

.header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  padding-right: 10px;
}

.calc-button {
  gap: 1px;
  padding: 9px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  cursor: pointer;
}

.zero {
  grid-column: span 2;
}

button {
  border: none;
  background-color: rgb(250, 241, 241);
  cursor: pointer;
  font-size: 20px;
  padding: 25px 40px;
}

button:hover {
  background-color: rgb(240, 124, 8);
  color: #fff;
}

.box-color {
  background-color: rgb(245, 145, 62);
}
